.Nav1 {
    background-color: blueviolet !important;
    text-decoration: none;
}

/* .cursor{
    cursor: pointer;
    padding: 10px;
    color: rgb(0, 0, 0);
	text-decoration: none;
}

#Link {
    border-radius: 30px;
    color: aqua;
} */